*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(./Components/images/ambika.jpg) ;
    background-repeat:no-repeat;
    background-size: cover; */
}
.navbar{
    text-align: center;
    background-color: #111010;
    color: rgb(247, 32, 32);
    padding: 5px;
}
.navbar .menu a{
    text-decoration: none;
    color: rgb(200, 222, 241);
    padding: 5px;
}
.about{
    text-align: center;
    padding: 5px;
}
.about img{
    width: 200px;
    border-radius: 50%;
    margin-top: 25px;
}
.about p{
    text-align: left;
}
.sections{
    text-align: center;
}

.sections p{
    text-align: left;
}
.footer{
    text-align: center;
    background-color: #616662;
    color: rgb(245, 224, 224);
    padding: 10px;
}
.footer .footer{
    text-align: center;
       
}
.footer .footerLink a{
    color: #da0707;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}